.vscode/**
.vscode-test/**
src/**
.gitignore
.github
.yarnrc
.flox
vsc-extension-quickstart.md
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
scripts/**
!scripts/activate.sh
assets/**
!assets/icon.png
!assets/icon.svg
